.blue {
    color: blue;
  }

  .mic-button {
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    width: 100px!important;
    height: 100px!important;
    border-radius: 50px!important;
    background-color: #6389fa !important;
    color: white !important;
    cursor: pointer !important;
    transition: background-color 0.5s ease !important;
  }
  
  .mic-button.active {
    background-color: #6389fa !important;
    animation: pulse-effect 1s infinite !important;
  }
  
  @keyframes pulse-effect {
    0% {
      box-shadow: 0 0 0 20px rgb(255, 153, 0);
    }
    70% {
      box-shadow: 0 0 0 10px rgba(255, 153, 0, 0.562);
    }
    100% {
      box-shadow: 0 0 0 5px rgba(253, 152, 0, 0.26);
    }
  }


  


  
  #delayed {
    animation-delay: 1.5s;
  }
  

  
  .mic-icon {
    height: 60px;
    position: absolute;
    margin: 21px;
  }
