.dobrodosli-box {
    background-color: #86A4FD;
    height: 100%;
    border-radius: 0 20px 20px 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.racun {
    text-align: center;
    margin-top: 20px;
}

.dobrodosli {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.pridruzitev {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: 0 30px;
}

.ustvari-button Button {
    width: 150px;
    background: #2F5AED;
    border-radius: 30px;
    border: none;
    margin: 5px;
    
}

.ustvari-button Button:hover {
    background: rgba(47, 90, 237, 0.8);
    transform: scale(1.05);
}