.btnfirst3.isSelected {
    color:white;
    background-color: #6389fa;
  }
  
  
  .btnfirst3 {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out !important;
    border: 2px solid #6389fa !important;
    padding: 0.4em 4em !important; 
    border-radius: 0.5em !important; 
    background-color: white;
    color:#6389fa;
    font-size: 1.25em
  }
  @media (max-width: 600px) {

    .btnfirst3 {
      font-size: 1em; 
      padding: 0.3em 3em !important; 
      border-radius: 0.5em !important; 
    }
  }
  .btnfirst3:hover {
    box-shadow: 0 0 40px 40px #6389fa inset !important;
    color:white
  }
  .image-styled {
    box-shadow: 0px 10px 18px -2px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    transition: transform 0.2s;

  }
  
  .image-styled:hover {
    transform: scale(1.05);
  }
  