@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;700&display=swap');

.homepage {
    font-family: 'Outfit', sans-serif;
    padding-top: 3%;
    padding-bottom: 3%;
}

.home {
    margin: 0 15%;
}

.homepage h3 {
    font-weight: 700;
    font-size: 32px;
    animation: fadeIn 0.8s ease-in-out;
}

.homepage img {
    width: 90%;
    animation: zoomIn 0.8s ease-in-out;
}

.vsebina {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: slideDown 0.8s ease-in-out;
}

.opis-vsebina {
    font-size: 20px;
    text-align: justify;
    animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
