.vsebina {
    height: 440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
}

.slika-vsebina,
.besedilo-vsebina {
    width: 50%;
}

.slika-vsebina img {
    width: 90%;
}

.naslov-vsebina {
    font-size: 30px;
    font-weight: 700;
}

.opis-vsebina {
    font-size: 20px;
    font-weight: 400;
}