@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;700&display=swap');

.footer {
    background-color: #6389FA;
    color: white;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 20px;
    min-height: 100%;
    position: relative;
    text-align: center;
    height: 63px;
    display: flex;
    align-items: center;
    animation: slideIn 1.0s ease;
    padding-bottom: 50px;
    padding-top: 30px;
}

.footer Container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

@keyframes slideIn {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}