.izbira-jezika {
    width: 100%;
    background-color: #86A4FD;
    padding: 5%;
    border-radius: 30px;
    animation: slideIn 1.0s ease;

}

@keyframes slideIn {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.form-izbira {
    margin:  8% 30%;
    font-family: 'Outfit', sans-serif;
}

.izbira-jezika Form {
    padding: 5% 5% 0 5%;
    display: flex;
    flex-direction: column;
}

.select-jezik, .select-nivo  {
    width: 100%;
    font-weight: 300;
}

.izbira-jezika h2 {
    color: white;
    font-weight: 600;
    text-align: center;
}

.izbira-jezika Button {
    background: #2F5AED;
    border-radius: 20px;
    width: 30%;
    align-self: center;
    border: none;
}

.izbira-jezika Button:hover {
    background: rgba(47, 90, 237, 0.8);
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}