.profil-box {
    margin: 0;
    display: flex;
    min-height: 90vh;
    flex-direction: column;
}

.profil {
    margin: 0 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uporabnik-box {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.uporabnik {
    display: flex;
    flex-direction: row;

}

.uporabnik-slika, img {
    width: 150px;
}

.uporabnik-podatki {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
    align-content: flex-end;
    flex-wrap: wrap;
}

.uporabnik-uredi button {
    width: 100px;
    height: 40px;
    background: #2F5AED;
    border-radius: 30px;
    border: none;
    color: white;
    font-family: 'Outfits', sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.uporabnik-uredi button:hover {
  background: rgba(47, 90, 237, 0.8);
  cursor: pointer;
}

