@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;700&display=swap');

.profil-container {
    font-family: 'Outfit', sans-serif;
    padding: 0;
    margin: 5% 15%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.541);
    animation: slideIn 1.0s ease;
}


@keyframes slideIn {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.profil-container img {
    width: 130px;
}

.col-md div,
.col-md div a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2px;
    text-decoration: none;
}

.profil-podatki {
    text-align: center;
}

.username {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;

}

.ime-priimek {
    font-size: 18px;
    margin-bottom: 10px;

}

.opis {
    font-size: 16px;
    margin-bottom: 20px;

}

.uredi-profil {
    border-radius: 30px;
    width: 115px !important;
    background: #2F5AED !important;
    border: none;
    margin-top: 0 !important;
    margin-bottom: 10px;
}

.uredi-profil:hover {
    background: rgba(47, 90, 237, 0.8) !important;
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
