@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;700&display=swap');

.zunanji-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 3%;
   animation: slideIn 1.0s ease;
}

@keyframes slideIn {
   0% {
      transform: translateY(-50px);
      opacity: 0;
   }

   100% {
      transform: translateY(0);
      opacity: 1;
   }
}

.uredi-container {
   font-family: 'Outfit', sans-serif;
   background-color: #86A4FD;
   padding: 3%;
   border-radius: 25px;
   color: white;
}

.uredi-container img {
   width: 80px;
   border-radius: 50px;
   margin: 2px;
}

.uredi-container h2 {
   font-weight: 600;
   text-align: center;
}

#avatar {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   margin: 15px;
}

.uredi-container button {
   border-radius: 30px;
   width: 115px;
   background: #2F5AED !important;
   border: none;
   margin-bottom: 10px;
}

.uredi-container button:hover {
   background: rgba(47, 90, 237, 0.8) !important;
   transform: scale(1.05);
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gumb-potrdi {
   display: flex;
   justify-content: center;
}