@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;700&display=swap');

.onas-box {
  margin: 5% 0;
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: slideIn 1.0s ease;
}

.onas-vsebina, .slika-onas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  justify-content: center;
  align-items: center;

}
.onas-box img {
  width: 500px;
}

.onas-naslov {
  font-weight: 600;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
}

.onas-besedilo {
  text-align: justify;
}

/*
.besedilo-onas {
  padding: 20px;
  background-color: #86A4FD;
  border-radius: 20px;
  color: white;
  margin: 15px;
}
*/

@media (max-width: 1600px) {
  .onas-box img {
    width: 400px;
  }
}

@media (max-width: 1200px) {
  .onas-box img {
    width: 300px;
  }

}

@media (max-width: 300px) {
  .onas-box img {
    display: none;
  }

  

 .onas-naslov, .onas-besedilo {
  text-align: center;
 }
}


