.my-component {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
  padding: 20px;
  border-radius: 5px;
  width: 100%; 
}

.my-row {
  margin-top: 10px;
}

.myHeading2 {
  font-weight: bold;
  font-family: 'PT Sans Caption', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2.0em
}

.my-subheading {
  font-size: 1.25em;
}


.btnfirst2.isSelected {
  color:white;
  background-color: #6389fa;
}


.btnfirst2 {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out !important;
  border: 2px solid #6389fa !important;
  padding: 0.5em 4em !important; 
  border-radius: 0.5em !important; 
  background-color: rgb(255, 255, 255);
  color:#6389fa;
  font-size: 1.25em;
}


@media (max-width: 600px) {
  .btnfirst2 {
    padding: 0.1em 2em !important;
  }
}

.btnfirst2:hover {
  box-shadow: 0 0 40px 40px #6389fa inset !important;
  color:white
}



.myHeading2 {
  font-size: 40px; 
}

@media (max-width: 600px) {

  .myHeading2 {
    font-size:28px; 
  }
}

.index-box {
  border: 2px solid #6389fa; 
  padding: 1px 6px;
  border-radius: 6px;
  font-size: 0.875rem;
  font-weight: bold;
}

@media (max-width: 600px) {
  .my-padding-sm {
    padding-bottom: 8100px;
  }
}
