.my-component {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
  padding: 20px;
  border-radius: 5px;
  width: 100%; 
}

.my-row {
  margin-top: 10px;
}

.my-heading {
  font-weight: bold;
}

.my-subheading {
  font-size: 1.25em;
}

.my-badge-tip-naloge2 {
  cursor: pointer;
  margin: 3px;
  font-size: 1.2em;
  transition: transform 0.2s;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
}

.my-badge-tip-naloge2.isSelected {
  background-color: #180680;
  box-shadow: none;
}

.my-badge-tip-naloge2:hover {
  transform: scale(0.9);
}


.bubble {
  padding: 15px;
  background-color: #e9ecef;
  border-radius: 15px;
  margin-bottom: 10px;
}

