.custom-progress-bar {
  height: 17px;  
  background-color: #92989e3d;
  border-radius: 5px;
}
  
.custom-progress-bar .progress-bar {
    border-radius: 10px;
}
  

.loading-screen {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

  .custom-buttonX{
    background-color: transparent;
    border: none;
    font-size: 30px; 
    padding: 12px 24px; 
  }
  
  
  .text-gray {
    color: gray;
  }
  .btnEx {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    width: auto; 
    max-width: 8rem; 
  }
  
  .btnEx:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  
  .letter {
    font-size: 130px;
    font-family: "Arial", sans-serif;
    color: #007bff;
    text-align: center;
    margin-top: 20px;
  }
  
  
  
  @keyframes flicker {
    0% {
      opacity: 1;
    }
    30% {
      opacity: 0.4;
    }
    70% {
      opacity: 0.9;
    }
    100% {
      opacity: 1;
    }
  }
  
  .flicker-animation {
    animation: flicker 1.1s infinite;
  }.custom-modal-content {
    border: none !important;
    box-shadow: none !important;
  }
  
  .modal-header {
    border-bottom: none !important;
  }


    
  
  @media (max-width: 576px) {
    .myCustomContainer {
      position: fixed;
      top: -100px; 
      padding-top: 50px;
    }
  }
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;700&display=swap');

body {
  font-family: 'Outfit', sans-serif;
}