@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;700&display=swap');

.jeziki-container {
    padding: 0;
    margin: 3% 15%;
    font-family: 'Outfit', sans-serif;
    animation: slideIn 1.0s ease;
}

.dodaj-jezik {
    border-radius: 20px;
    width: 115px !important;
    background: #2F5AED !important;
    border: none;
    margin-bottom: 10px;

}

.dodaj-jezik:hover, .gumbi button:hover {
    background: rgba(47, 90, 237, 0.8) !important;
    transform: scale(1.05);

}


.gumbi button {
    border-radius: 20px;
    width: 90px;
    background: #2F5AED;
    border: none;
    margin: 5px;
}

.kartica {
    background-color: #86A4FD;
    color: white;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.kartica img {
    width: 100%;
    border-radius: 10px;
}

.zastava {
    display: flex;
    justify-content: center;
}

.podrobnosti {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.podrobnosti div {
    font-weight: 600;
}

.kartice-jezikov {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*

@keyframes scaleIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
*/