.navbar {
  background: #6389FA;
  padding: 20px;
  margin-bottom: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lingualearn {
  margin-left: 15%;
  font-weight: 700;
  font-size: 25px;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

a {
  text-decoration: none;
  color: white;
}

.right-links {
  display: flex;
  align-items: center;
  margin-right: 15%;
  color: white;
  font-weight: 400;
  font-size: 17px;
}

.domov,
.onas,
.prijava,
.odjava {
  margin-left: 15px;
}

.prijava {
  display: flex;
  flex-direction: row;
}

.user-icon {
  margin-left: 5px;
}

.odjava button {
  color: white;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}