.bubble11 {
  position: relative;
  background: linear-gradient(8deg, #ffffff 50%, #ffffff 52%);
  color: #000000;
  font-family: Arial;
  font-size: 22px !important;
  text-align: center;
  border-radius: 16px;
  padding: 10px;
  border: #d6d1d1 solid 2px;
  word-wrap: break-word;
}

@media screen and (max-width: 600px) {
  .bubble11 {
    font-size: 222px;
  }
}

@media screen and (max-width: 400px) {
  .bubble11 {
    font-size: 22px !important;
  }
}

.bubble11::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: transparent #ffffff;
  border-width: 6px 10px 6px 0;
  top: calc(50% - 6px);
  left: -10px;
}

.bubble11::before {
  content: '';
  position: absolute;
  width: 0;
  z-index: 0;
  border-style: solid;
  border-color: transparent #d6d1d1;
  border-width: 8px 12px 8px 0;
  top: calc(50% - 8px);
  left: -12px;
}

.mask {
  position: absolute;
  width: 2px;
  height: 16px; 
  background-color: #ffffff;
  left: -2px;
  top: calc(50% - 8px);
  z-index: 2;
}

.buttonZvok {
  background-color: white !important;
  transition: background-color 300ms ease-in-out;
  background-color: transparent;
  border: none;
}

.buttonZvok:hover {
  background-color: white !important;
}


button.btn.first1 {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out !important;
  border: 2px solid #6389fa !important;
  padding: 0.8em 3em !important; 
  border-radius: 2em !important; 
  background-color: #6389fa;
  color:white;
  
}

button.btn.first1p:hover {
  box-shadow: 0 0 40px 40px #6389fa inset !important;
  color:white
}

button.btn.first1p {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out !important;
  border: 2px solid #6389fa !important;
  padding: 0.8em 3em !important; 
  border-radius: 2em !important; 
  background-color: rgb(255, 255, 255);
  color:#6389fa
}

button.btn.first1:hover {
  box-shadow: 0 0 40px 40px white inset !important;
  color:#6389fa
}



.my-badge-tip-naloge1Ts {
  cursor: pointer;
  margin: 5px;
  font-size: 1.5em;
  transition: transform 0.7s;
  border: 3px solid #d6d1d1;
  background-color: rgb(255, 255, 255) !important;
  color: black;
  border-radius: 1px;
  font-weight: normal !important;
}

@media (max-width: 576px) {
  .my-badge-tip-naloge1Ts {
    font-size: 0.3em  !important; 
    margin: 2px !important; 
    border-width: 2px!important; 
    border-radius: 10px!important; 
    font-weight: normal !important;
  }
}
.my-badge-tip-naloge1Ts:hover {
  transform: scale(1.1);
  border-color: blue;
}
.fixed-bottom-container {
  position: relative;
}

.upper-line {
  height: 5px;
  background-color: #ccc;
  margin-bottom: 10px;
  position: relative;
    top: 20px; 
}

.fixed-bottom {
  padding-top: 10px;
  padding-bottom: 10px;
}.custom-button1 {
  font-size: 14px;
  padding: 8px 20px;
}


.bottom-modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

.custom-modal-dialog1 {
  width: 100%;
  max-width: none !important;
  margin: auto;
  position: absolute;
  bottom: 0;
}



.selected-words-container {
  display: flex;
  flex-wrap: wrap;
}
.my-6 {
  margin-top: 3.5rem !important;
  margin-bottom: 3.5rem !important;
}
.min-height-div {
  min-height: 70px; 
}
.pb-100 {
  padding-bottom: 100px !important;
}.hoverable {
  cursor: pointer;
}.tooltip-container {
  position: relative;
  display: inline-block;
}

.hoverable {
  cursor: pointer;
}

.custom-tooltip {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: purple;
  color: white;
  font-size: 20px;
  padding: 8px;
  border-radius: 8px;
  z-index: 1;
  width: max-content;
}.purple-text {
  color: purple;
}

.custom-tooltip::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 8px;
  border-color: purple transparent transparent transparent;
}