
.my-badge-tip-naloge1 {
  cursor: pointer;
  margin: 3px;
  font-size: 1.2em;
  transition: transform 0.2s;
}

.bubble1 {
  padding: 15px;
  background-color: #ffffff;
  border-radius: 15px;
  margin-bottom: 10px;
}


.my-badge-tip-naloge1_1 {
  cursor: pointer;
  margin: 3px;
  font-size: 0.9em; 
  padding: 8px 12px; 
  transition: transform 0.2s;
  border: 1px solid gray;
  background-color: white !important;
  color: black;
  border-radius: 15px; 
}
.bubble1_1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
}

.fixed-bottom-container {
  position: relative;
}

.upper-line {
  height: 1px;
  background-color: #ccc;
  margin-bottom: 20px;
}

.fixed-bottom {
  padding-top: 10px;
  padding-bottom: 10px;
}.custom-button1 {
  font-size: 14px;
  padding: 8px 20px;
}